@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

div,
textarea,
b,
h2,
span,
button {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

textarea,
button {
  background-color: transparent;
  border: none;
  outline: none;
}

textarea, button, span {
  line-height: 24px;
  font-size: 14px;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}
