div,
textarea,
b,
button {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

textarea,
button {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}
